################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/Marraia.MongoDb/FileContentIndex/91d73b48-63c7-4804-bddd-a74305a8c776.vsidx
/.vs/Marraia.MongoDb/FileContentIndex/673e2a0d-f87b-441d-a1bd-3e85fda4ec72.vsidx
/.vs/Marraia.MongoDb/FileContentIndex/7f0184ca-7ff2-4551-885d-3937b2c5c5cd.vsidx
/.vs/Marraia.MongoDb/FileContentIndex/e6b4c2e0-4446-4fa3-bd6d-9fd1335c14f2.vsidx
/.vs/Marraia.MongoDb/FileContentIndex/b5e6d18c-c757-4bc8-a05b-e727878faf72.vsidx
/.vs/Marraia.MongoDb/FileContentIndex/65413b32-b851-4ca5-94f0-0fc344c5ecaa.vsidx
/.vs/Marraia.MongoDb/FileContentIndex/577eb742-cf7b-4e43-9ab8-116de984eeba.vsidx
/.vs/Marraia.MongoDb/FileContentIndex/20f9bdce-b81d-42d7-9d67-1daf0b335295.vsidx
/.vs/Marraia.MongoDb/FileContentIndex
