################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/Marraia.MongoDb/FileContentIndex/91d73b48-63c7-4804-bddd-a74305a8c776.vsidx
/.vs/Marraia.MongoDb/FileContentIndex/673e2a0d-f87b-441d-a1bd-3e85fda4ec72.vsidx
